@import url('https://fonts.googleapis.com/css2?family=Alyamama:wght@300..900&display=swap');

.add-calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 2%;
}

.add-calendar-title {
  color: #E5A4C7;
  margin-bottom: 10px;
  text-align: center;
}

.add-calendar-buttons {
  display: flex;
  gap: 15px; /* spacing between buttons */
}

.add-calendar-btn {
  padding: 10px 20px;
  background-color: #E5A4C7;
  color: white;
  border: none;
  border-radius: 25px;
  font-family: "Alyamama", serif;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.add-calendar-btn:hover {
  background: white;
  transform: translateY(-2px);
  color:#E5A4C7
}