.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 2%;
}

.calendar-title {
  color: #ff69b4;
  margin-bottom: 10px;
  text-align: center;
}

.calendar-buttons {
  display: flex;
  gap: 15px; /* spacing between buttons */
}

.calendar-btn {
  padding: 10px 20px;
  background-color: #ffff;
  color: #ff69b4;
  border: none;
  border-radius: 25px;
  font-family: 'Cookie', cursive;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.calendar-btn:hover {
  background-color: #c12b73;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}